 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Log in for AB Quora Clone</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">
  </head>
<body>    


     <h2> Welcome <%=current_user.name%></h2>
     <p><a href='/signout'><button type="submit">Sign Out</button></a></p>
     <p><a href='/question/new'><button type="submit">Ask Question</button></a></p>

			<table class="table">
  			
  					<thead class="thead-inverse">
    					<tr>
      					<th>#</th>
      					<th>Created_at</th>
      					<th>Question</th>
      					<th>Replied by</th>
    					</tr>
  					</thead>
  								<% @questions.each do |question| %>
  								<tbody>
    							<tr>
      							<th scope="row">1</th>
      							<td><%= question.created_at %></td>
      							<td><a href="<%= quest_id(question) %>"><%= question.text %></a></td>
      							<td></td>
    							</tr>
    							</tr>
  								</tbody>
  								<%end%>
            
			</table>






         <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/workaround.js"></script>
