<link href="/css/signin.css" rel="stylesheet">
<center>
        <h2> Welcome <%=current_user.name%></h2>
        <a href='/userpage'><button type="submit">Profile Page</button></a>
        <br>
        <p><a href='/signout'><button type="submit">Sign Out</button></a></p>
<center>

<body>    

                 <div class="card w-75">
                 <div class="card-block">
                 <h3 class="card-title"><h2>Question:</h2><%= @question.text %></h3>
                 <br><br>
                 <form action="/question/<%= @question.id %>/edit" method="post">
                         
                         <div class="form-group">
                         <label for="formGroupExampleInput">Edit your question</label>
                         <input type="text" class="form-control" id="formGroupExampleInput" name="edit" placeholder="eg.. edit question">
                         </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                 </form>
                 </div>
                 </div>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/workaround.js"></script>
</body>
</html>
