 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Log in for AB Quora Clone</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">
  </head>
<body>    

        <div class="card w-75">
            <div class="card-block">
                <h3 class="card-title"><h2>Question:</h2><%= @question.text %></h3>
                    <p class="card-text"><h2>Answer:</h2>Not me.<p>                           </p>
                    <a href="#" class="btn btn-primary">Like?</a>
            </div>
        </div>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/workaround.js"></script>
</body>
