   <link href="/css/covercrypto.css" rel="stylesheet">

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
             <center><h3 class="masthead-brand">MeLAB Design</h3></center>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="/">Home</a>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">MeLAB inherits blockchain's inpenetrable technology</h1>
            <p class="lead">Picture a spreadsheet that is duplicated thousands of times across a network of computers. Then imagine that this network is designed to regularly update this spreadsheet and you have a basic understanding of the blockchain.

Information held on a blockchain exists as a shared — and continually reconciled — database. This is a way of using the network that has obvious benefits. The blockchain database isn’t stored in any single location, meaning the records it keeps are truly public and easily verifiable. No centralized version of this information exists for a hacker to corrupt. Hosted by millions of computers simultaneously, its data is accessible to anyone on the internet.
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>@MeLAB wholly own by Panda Mart Sdn Bhd.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
