


    <link href="/css/covercrypto.css" rel="stylesheet">
  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
             <center><h3 class="masthead-brand">MeLAB Design</h3></center>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="/">Home</a>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">MeLAB does not only accept cash, but also digital currencies too</h1>
            <p class="lead">Crypto-currency is an attempt to replace money transactions with a digital medium of exchange using peer-to-peer networking. The first one, and still the most successful, was Bitcoin, which was created in 2009 by the mysterious developer "Satoshi Nakamoto."<br>
            <u>In MeLAB, we accept almost all cryptocurrencies in the market and users can exchange it as cash in our e-Wallet.</u>  
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>@MeLAB wholly own by Panda Mart Sdn Bhd.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
