
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Introduction to CryptoCurrency</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/covercrypto.css" rel="stylesheet">
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
             <center><h3 class="masthead-brand">MeLAB Design</h3></center>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="/">Home</a>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">MeLAB does not only accept cash, but also digital currencies too</h1>
            <p class="lead">Crypto-currency is an attempt to replace money transactions with a digital medium of exchange using peer-to-peer networking. The first one, and still the most successful, was Bitcoin, which was created in 2009 by the mysterious developer "Satoshi Nakamoto."<br>
            <u>In MeLAB, we accept almost all cryptocurrencies in the market and users can exchange it as cash in our e-Wallet.</u>  
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>@MeLAB wholly own by Panda Mart Sdn Bhd.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="/js/min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/workaround.js"></script>
  </body>
</html>