
  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">MeLAB Design</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="static/homepage">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.facebook.com/mexlab/" target="_blank">Facebook</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        </ul>

      </div>
    </nav>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <img class="first-slide" src="img/happy family.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption d-none d-md-block text-left">
              <h1>Extra Ordinary Wallet</h1>
              <p>There is a new way to doing things! Use MeLAB and make your life simple, happy and beautiful. Start Enjoying and Stop Worrying</p>
              <p><a class="btn btn-lg btn-primary" href="/signup" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="second-slide" src="img/finance2.png" alt="Second slide">
          <div class="container">
            <div class="carousel-caption d-none d-md-block">
              <h1>We take care your finance</h1>
              <p>Cheapest Remittance, Cheapest Currency Exchange, Instant Transfer. All around the world. Only with MeLAB</p>
              <p><a class="btn btn-lg btn-primary" href="/login" role="button">Log in</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="third-slide" src="img/loving<1>.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption d-none d-md-block text-right">
              <h1>We all have the heart</h1>
              <p>MeLAB is not just a fintech company. We brand ourselve as a knighthood and serve the communities</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="rounded-circle" src="img/p2p.jpg" alt="Peer to Peer platform" width="140" height="140">
          <h2>P2P Platform</h2>
          <p>Pay Anyone, Anywhere, Anytime! Not only that, we are as secure and as safe as the bank because we ride on their ecosystem! </p>
          <p><a class="btn btn-secondary" href="/ptwop" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="img/blockchain.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Blockchain Technology</h2>
          <p>Blockchain technology is like the internet in that it has a built-in robustness. By storing blocks of information that are identical across its network, the blockchain cannot be controlled by any single entity nor have single point of failure.</p>
          <p><a class="btn btn-secondary" href="/blockchain" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="img/crypto1.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Cryptocurrency</h2>
          <p>We use the mots cost effective and efficient way to move money accross border.</p>
          <p><a class="btn btn-secondary" href="/crypto" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Our 1st Community Project<br><span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Specifically target lower income group of people to ask for free consultation regarding law matter in Malaysia. Its headed by Mr. Alex Henderson, our lawyer apprentice in KL Sentral.</p>
        </div>
        <div class="col-md-5">
          <a href="/login"><img class="featurette-image img-fluid mx-auto" src="img/AB.png" alt="New Way of doing things"></a>
        </div>
      
      
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 push-md-5">
          <h2 class="featurette-heading">The Best Of Both Worlds<span class="text-muted"></span></h2>
          <p class="lead">MeLAB'ers have unique debit cards to withdraw cash and also do online transaction. Only with MeLAB,the more the better!</p>
        </div>
        <div class="col-md-5 pull-md-7">
          <img class="featurette-image img-fluid mx-auto" src="img/creditcard.jpg" alt="Withdrawal and payment options">
        </div>
      </div>
      </div>
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Great Team make the Dream Work<span class="text-muted"></span></h2>
          <p class="lead">After all, great products are the result of great team work. Click here to check out our team.</p>
        </div>
        <div class="col-md-5">
          <a href="#"><img class="featurette-image img-fluid mx-auto" src="img/melab.png" alt="company logo">
        </div></a>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; MeLAB wholly own by Panda Mart Sdn Bhd. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->

  </body>
