
 <center>
<h1>Welcome to BongAlex Quora</h1>
<h2>Only for those with brains! </h2>

              <% if @welcome %>
              <%= @welcome %>
              <% end %>
              
 <form action="/login" method="post">
  <div class="container"> 
 
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>
    <br />
    <label><b>Password </b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
    <br />
    <a href="/sessions/login"><button type="submit">Login</button></a>
    <input type="checkbox" checked="checked"> Remember me
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <span class="psw">New to BongAlex Quora? 
    <a href="/signup">Sign up</a></span>
  </div>
</form>
<br />    
          <% if @error %>
          <%= @error %>
          <% end %>
</center>
