
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Log in for AB Quora Clone</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">
  </head>

  <body>
  <center>
        <h1>Welcome to AB Consultation</h1>
              <% if @welcome %>
              <%= @welcome %>
              <% end %>
  </center>        
    <div class="container">

        <form class="form-signin" action="/login" method="post">
        <h2 class="form-signin-heading">Log In Awesome</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="user" id="inputUsername" name="username" class="form-control" placeholder="username" required autofocus>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="password" required autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->
    <center>
          <% if @error %>
          <%= @error %>
          <% end %>
           </body>
    <div class="container" style="background-color:#f1f1f1">
    <span class="psw">Not a member yet ? 
    <a href="/signup">Sign up</a></span>
   </div>
    </center>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/workaround.js"></script>



