   <link href="/css/covercrypto.css" rel="stylesheet">
    
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
             <center><h3 class="masthead-brand">MeLAB Design</h3></center>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="/">Home</a>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Lowest Costs in Foreign Transaction</h1>
            <p class="lead">p2p stands for "Peer to Peer." In this MeLAB network, the "peers" are each MeLAB foreign bank accounts which are connected to each other via the Internet. Transactions can occur locally. In other words,money will be able to flow between multiple countries without crossing the border.
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>@MeLAB wholly own by Panda Mart Sdn Bhd.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="/js/min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/workaround.js"></script>