<div class="question">
<p>
Question : <input type="text" placeholder="Enter your question here" size="400" >
</p>
</div>
<br />
<button align='center' type="question_submit">Submit</button>
<br />
<div class="answer">
<p>
Answer : <input type="text" placeholder="Your question still not yet answer by other user. Please be patient" size="400">
</p>
<br />
<button align='center' type="answer_submit">Submit</button>
</div>