<form class="question" action="question/new" method="post">
<div>
<p>
Question : <input type="text" name="text" placeholder="Enter your question here" size="400" >
</p>
</div>
<br />
<button align='center' type="question_submit">Submit</button>
</form>
<form class="answer" action="question/id" method="post">


<br />
<div class="answer">
<p>
Answer : <input type="text" placeholder="Your question still not yet answer by other user. Please be patient" size="400">
</p>
<br />
<button align='center' type="answer_submit">Submit</button>
</div>
</form>
<a href='/signout'><button type="submit">Sign Out</button></a>
