<h3> <a href='/question/new'>Home</a></h3>
<center>
	<h1> Welcome <%=current_user.name%><h1>
	<a href='/signout'><button type="submit">Sign Out</button></a>
</center>
     
	<% if @submited %>
	<%= @submited %>
	<%end%>

<form class="question" action="/question/new" method="post">
<div>
<p>
Question : <input type="text" name="question" placeholder="Enter your question here" size="400" >
</p>
</div>
<br />
<button align='center' type="question_submit">Submit</button>
</form>

<center>
<a href="/question/id"><h3> If you are awesome and highly intelligent, please press here and help other's species with your knowledge :-)<h3></a>
</center>