<html>
	<head>
		<title>MeLAB Design</title>
		    <meta charset="utf-8">
    		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    		<meta name="description" content="borderless currency">
    		<!-- Bootstrap core CSS -->
    		<link href="/css/min.css" rel="stylesheet">
    		<!-- Custom styles for this template -->
    		<link href="/css/home.css" rel="stylesheet">
                      <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>f
            <script src="/js/application.js"></script>

	</head>


	
	<body>
		<%= yield %>
	</body>




    <!-- Bootstrap core JavaScript
    ================================================== -->

</html> -->